

/* 
Colors 
#100F0F
#0F3D3E
#E2DCC8
#F1F1F1 */

ul {
    display: flex; 
    margin-left: 0;
    padding-left: 0;
}

li {
    padding: 0 .5rem;
    list-style-type: none;
    margin: 0;

}





body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  #100F0F;
    color: #F1F1F1;
    font-size: 2rem;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.project1{
    background-color:  #0F3D3E;

}

a {
    text-decoration: none;
    color: #F1F1F1;
}

a:hover {
    text-decoration: underline;
}


.project2 {
    background-color:  #E2DCC8;
    color: black;

}

.project2 a {
    text-decoration: none;
    color: #0F3D3E;
}


.project2 a:hover {
    text-decoration: underline;
}


.project3{
    background-color:  #0F3D3E;

}

.project1, .project2 , .project3 {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    }



 
    img {
        max-width: 50%;
      } 



    .project1 img:hover {
        border: 3px solid white;
      }


    .project2 img:hover {
        border: 3px solid #0F3D3E;
      }

      .project3 img:hover {
        border: 3px solid white;
      }


      .contact  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }


    body {
        display: grid;
        place-items: center;
        height: 100vh;
        background-color: black;
        margin: 0rem;
        overflow: hidden;
      }
      
      h1 {
        font-family: 'Space Mono', monospace;
        font-size: clamp(3rem, 10vw, 10rem);
        color: white;
        padding: 0rem clamp(1rem, 2vw, 3rem);
        border-radius: clamp(0.4rem, 0.75vw, 1rem);
      }
      
   